html,
body {
  position: relative;
  margin: 0;
  padding: 0;
}

body {
  background: rgb(0, 0, 0);
  font-family: "Arial Black", Gadget, sans-serif;
  color: #ffff;
}

.header {
  display: flex;
  width: 100%;
  margin: 0;
}

.back {
  padding: 20px;
  width: 10%;
  margin-top: 0;
}

.back a {
  align-self: flex-start;
  text-decoration: none;
  color: white;
  font-size: 3vh;
}

.back a:hover {
  text-decoration: none;
  color: rgb(255, 0, 0);
}

h1 {
  width: 72%;
  text-align: center;
  color: white;
}

h3 {
  font-size: 3vh;
}

h4{
  font-size: 2.2vh;
}

.content {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.left {
  max-width: 50%;
  margin-left: 10%;
  padding: 10px;
}

.center {
  text-align: center;
  max-width: 50%;
}

.right {
  max-width: 50%;
  margin-right: 10%;
  padding: 10px;
}

img {
  max-width: 20vh;
}

img:hover {
  cursor: pointer;
  transform: scale(1.2) perspective(1vh);
}

.youtube {
  margin-bottom: 20%;
}


@media only screen and (max-width: 600px) {
  .content {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .left {
    text-align: center;
    max-width: 100%;
    margin-left: 0;
    padding-left: 25px;
    padding-right: 25px;
  }

  .right {
    max-width: 50%;
    margin-right: 0;
    padding: 1px;
  }

  .youtube {
    margin-bottom: 10%;
    text-align: center;
  }

  img {
    max-width: 12vh;
  }
}
