html,
body {
  position: relative;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  background: rgb(0, 0, 0);
  font-family: "Arial Black", Gadget, sans-serif;
  font-size: 14px;
}

.main-container {
  margin-left: auto;
  margin-right: auto;
  overflow-y: scroll;
  height: 100vh;
  scroll-snap-type: y mandatory;
}

.page {
  text-align: center;
  color: #fff;
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  min-height: 100vh;
  scroll-snap-align: start;
  z-index: 0;
}

.swiper-pagination-bullet-active {
  background-color: rgb(255, 0, 0);
}

#menu {
  position: fixed;
  word-spacing: 0.2em;
  top: 0;
  z-index: 70;
  width: 100%;
  padding: 0;
  margin: 0;
  text-align: center;
  mix-blend-mode: exclusion;
  font-size: 3vh;
}

#menu li {
  display: inline-block;
  margin: 10px 30px;
}

#menu li.active {
  text-decoration: underline;
}
#menu li a {
  text-decoration: none;
  font-size: 3vh;
}

#menu li:hover {
  text-decoration: underline;
}

#menu li a,
#menu li.active a {
  padding: 9px 30px;
  display: block;
  color: white;
}

.swiper-container {
  width: 100%;
  height: 100%;
  position: relative;
  margin: auto;
}

.gatebox{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

#proftaak {
  background-color: #1a1a1d;
}

#scrum {
  background-color: rgb(27, 27, 27);
}

#dev {
  background-color: rgb(19, 19, 19);
}

#sco {
  background-color: #1a1a1d;
}

#ux {
  background-color: rgb(14, 14, 14);
}
