html,
body {
  position: relative;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  background: rgb(0, 0, 0);
  font-family: "Arial Black", Gadget, sans-serif;
  font-size: 14px;
}

.main-container {
  margin-left: auto;
  margin-right: auto;
  overflow-y: scroll;
  height: 100vh;
  scroll-snap-type: y mandatory;
}

.page {
  text-align: center;
  color: #fff;
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  min-height: 100vh;
  scroll-snap-align: start;
}

.swiper-pagination-bullet-active {
  background-color: rgb(255, 0, 0);
}

#menu {
  position: fixed;
  word-spacing: 0.2em;
  top: 0;
  z-index: 70;
  width: 100%;
  padding: 0;
  margin: 0;
  text-align: center;
  mix-blend-mode: exclusion;
  font-size: 3vh;
}

#menu li {
  display: inline-block;
  margin: 10px 30px;
}

#menu li.active {
  text-decoration: underline;
}
#menu li a {
  text-decoration: none;
  font-size: 3vh;
}

#menu li:hover {
  text-decoration: underline;
}

#menu li a,
#menu li.active a {
  padding: 9px 30px;
  display: block;
  color: white;
}

h1 {
  margin: 0;
  padding: 0;
  font-weight: bold;
  font-size: 4vw;
}

.title {
  text-align: center;
  z-index: 1;
}

.landing{
  background-size: cover;
  background-position: 50% 50%;
  text-align: center;
}

.landing h1 {
  font-size: 5vw;
  padding: 0;
  margin: 0;
}

.landing h2 {
  font-size: 2vw;
  padding: 0;
  margin: 0;
}

video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
}

.videocontainer {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

.intro {
  background-color: black;
}


a:link,
a:visited {
  color: #d8124d;
  text-decoration: underline;
}

.about {
  font-size: 2vh;
  text-align: justify;
  text-justify: inter-word;
  padding: 5% 6% 5% 6%;
}

.portfolio {
  background-color: #1a1a1d;
}

.workcontent {
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row-reverse;
}

.about {
  font-size: 2vh;
  text-align: justify;
  text-justify: inter-word;
  padding: 5% 6% 5% 6%;
}

.foto {
  padding: 2%;
}

.portret {
  padding: 0;
  margin: 0;
  max-width: 30vh;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.swiper-container{
  background-color: rgba(54, 54, 54, 0.438);
}

.myWork {
  margin: 0;
  padding: 0;
  max-width: 25vh;
  transition: all 0.2s ease-in-out;
}

.myWork:hover {
  cursor: pointer;
  transform: scale(1.2) perspective(1vh);
}

#contact{
  text-align: left;
  background-color: rgb(36, 36, 36);
}

.contacttit {
  color: #c3073f;
  font-size: 4vh;
}

.contactin {
  color: #c2155a;
  font-size: 2vh;
}
