/* Reset CSS
 * --------------------------------------- */
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
pre,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}
table {
  border-spacing: 0;
}
fieldset,
img {
  border: 0;
}
address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-weight: normal;
  font-style: normal;
}
strong {
  font-weight: bold;
}
ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
caption,
th {
  text-align: left;
}
h1,
h2,
h3,
h4 {
  font-weight: normal;
  font-size: 100%;
  margin: 0;
  padding: 0;
  color: #444;
}
q:before,
q:after {
  content: "";
}
abbr,
acronym {
  border: 0;
}

/* Custom CSS
 * --------------------------------------- */
.wrap {
  margin-left: auto;
  margin-right: auto;
  width: 960px;
  position: relative;
}
h1 {
  font-size: 6em;
}

.section {
  text-align: center;
}

body {
  font-family: "Arial Black", Gadget, sans-serif;
}

#menu {
  position: fixed;
  word-spacing: 0.2em;
  top: 0;
  z-index: 70;
  width: 100%;
  padding: 0;
  margin: 0;
  text-align: center;
  mix-blend-mode: exclusion;
  font-size: 3vh;
}

#menu li {
  display: inline-block;
  margin: 10px 30px;
}

#menu li.active {
  text-decoration: underline;
}
#menu li a {
  text-decoration: none;
  font-size: 3vh;
}

#menu li:hover {
  text-decoration: underline;
}

#menu li a,
#menu li.active a {
  padding: 9px 30px;
  display: block;
  color: white;
}

#landing {
  background-color: #000000;
  color: white;
}

.logo_landing {
  text-align: center;
}

.logo_ijslap {
  display: none;
}

.logo_ijslap_GR {
  padding-top: 16vh;
  max-width: 125vh;
  padding-bottom: 4vh;
}

.logo_ijslap_GR_mob {
  display: none;
}

.arrow {
  display: none;
}

#me {
  color: white;
  background-color: #1a1a1d;
  background-size: cover;
  background-attachment: fixed;
  background-position: 50% 50%;
  text-align: center;
}

.mecontent {
  font-style: normal;
  position: relative;
  top: 35%;
}

a:link,
a:visited {
  color: #d8124d;
  text-decoration: underline;
}

.about {
  font-size: 2vh;
  text-align: justify;
  text-justify: inter-word;
  padding: 5% 6% 5% 6%;
}

.foto {
  padding: 2%;
}

.portret {
  padding: 0;
  margin: 0;
  max-width: 30vh;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

#work {
  color: black;
  background-color: #222225;
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100vh;
  font-style: normal;
}

.workcontent {
  height: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row-reverse;
}

.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.myWork {
  max-width: 25vh;
  transition: all .2s ease-in-out;
}

.myWork:hover{
  cursor: pointer;
  transform: scale(1.2) perspective(1vh);
}

#contact {
  background-color: #1a1a1d;
  background-size: cover;
  background-attachment: fixed;
}

.grid-container3 {
  margin: 0;
  padding: 20%;
  position: absolute;
  top: 45%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.contacttit {
  color: #c3073f;
  font-size: 4vh;
  text-align: left;
}

.contactin {
  color: #c2155a;
  font-size: 2vh;
  text-align: left;
}

.contactinfo {
  grid-area: contactinfo;
}

.contacttitle {
  grid-area: contacttitle;
}

/* Animation
--------------------------------------- */

